Source: ros-hydro-bwi-tasks
Section: misc
Priority: extra
Maintainer: Piyush Khandelwal <piyushk@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-bwi-kr-execution, ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/bwi_tasks
Standards-Version: 3.9.2

Package: ros-hydro-bwi-tasks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-bwi-kr-execution, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs
Description: High-level tasks for the UTexas Building-Wide Intelligence project.
