Source: ros-hydro-bwi-interruptable-action-server
Section: misc
Priority: extra
Maintainer: Piyush Khandelwal <piyushk@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-actionlib-tutorials, ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-bwi-interruptable-action-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-tutorials, ros-hydro-roscpp, ros-hydro-std-srvs
Description: This wraps the move_base node from the standard ROS navigation stack. The purpose of the interruptable navigator is to allow seamless multi-robot interactions by temporarily interrupting robots and diverting them when two robots are about to collide.
